* {
  margin: 0;
  padding: 0;
  box-sizing:  border-box;
}

body {
  background: #f8f8f8;
  color: #29292e;
}

body, input, button, textarea {
  font: 400 16px 'Roboto', sans-serif;
}

@media (max-width: 778px){
  #page-auth{
    flex-direction: column;
    height: 100px;  

    .main-content{
      height: 1000px;
      padding-top: 200px;
    }
  }
}